/x64
/Debug
/Release

/libredirect/x64
/libredirect/Debug
/libredirect/Release

/Redirect/x64
/Redirect/Debug
/Redirect/Release

/demo/x64
/demo/Debug
/demo/Release

/demo_with_asio/x64
/demo_with_asio/Debug
/demo_with_asio/Release

/.vs
